parameters:
    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Path to your templates
    templates_path: mocks/templates/

    # Path to your routes file
    routes_path: mocks/routes.json

    # Format of your mocks. Possible values: json, xml
    routes_format: json
